<%= form_for @order, :url => '/statusupdate', :method => 'PUT' do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="form-group">
  <strong>Numéro de la demande:</strong>
  <%= @order.id %>
  </div>

   <div class="form-group">
     <strong>Utilisateur:</strong>
        <% if ordertype(@order) == "Demande"%>
                <%= customer(@order) %>
        <% else %>  
                <%= owner(@order) %>
        <% end %> 
  </div>


<div class="form-group">
     <strong>Date de la demande:</strong>
  <%= @order.created_at %>
  </div>


  <div class="form-group">
     <strong>Nombre de jour de location:</strong>
  <%= @order.nb_day %>
  </div>

  <div class="form-group">
     <strong>Date de début de la location:</strong>
  <%= @order.start_date %>
  </div>

    <div class="form-group">
     <strong>Description du projet:</strong>
  <%= @order.description %>
  </div>

    <div class="form-group">
     <strong>Prix total de la location:</strong>
     <%= number_to_currency(@order.order_price, unit: "€", separator: ",", format: "%n %u") %>
  </div>






  <% if ordertype(@order) == "Demande" and @order.status == "en_attente" %>


<!-- ///////// statut de commande : en attente 
Si j'ai une commande de type location
  - Je vois le status en attente
  - je ne peux rien faire sur la page edit
  - l'utilisateur qui s'affiche est un owner
Si j'ai une commande de type Demande  
- Je vois le status en attente  
- Je peux éditer sur la page edit
 - l'utilisateur qui s'affiche est un customer
 -->
    
                <div class="form-group">
                  
                  <strong>Vous pouvez accepter ou refuser la demande :</strong>
                    
                    <%= form.select :status, Order.statuses.keys.to_a, :disabled => ['confirmé'], class: "form-control" %>

                </div>


              <div class="actions">

                     <%= form.button 'Valider', name: "id",value: @order.id, class: "btn btn-success"%>   

                </div>





    
             

              <% elsif ordertype(@order) == "Demande" and @order.status == "accepté" %>
                  
                  <!-- ////////  statut de commande : accepté  

                    Si j'ai une commande de type location  
                    => l'utilisateur est alors orienté vers la page show plutot qu'ici
                    - Je vois le status accepté 
                    - je vois le bouton de paiement de la commande
                      - l'utilisateur qui s'affiche est un owner

                        => va ajouter un status : confirmé 

                    Si j'ai une commande de type Demande  
                    - Je vois le status accepté 
                    - Je vois un div qui affiche "en attente de confirmation" ou similaire
                      - l'utilisateur qui s'affiche est un customer
                      -->

                          


                   <strong>L'utilisateur </strong>  
                                <%= customer(@order) %> <strong> va confirmer la demande et payer la commande, tu recevras alors ses coordonnées. </strong>  



<% elsif ordertype(@order) == "Demande" and @order.status == "confirmé" %>
                  
                  <!-- ////////// statut de commande confirmé
  

                Si j'ai une commande de type location
                  - Je vois le status en confirmé
                  - je vois les infos de contact du owner
                  
                Si j'ai une commande de type Demande
                  - Je vois le status confirmé
                  - Je vois les infos de contact du user
                    -->

                <p>Nous t'invitons à contacter <%= customer(@order) %></p>
                <strong>Email :  </strong> 
                <p><%= mail_to @order.email, "#{@order.email}"%></p>
                <strong>Téléphone :  </strong> 
                <p><%= @order.phone %></p>
                <strong>Adresse :  </strong> 
                <p><%= @order.address %></p>




               <% elsif ordertype(@order) == "Location" and @order.status == "confirmé" %>
                            
              

              <p>Nous t'invitons à contacter <%= owner(@order) %> ; </p>

              <p>il a également reçu tes coordonées et va te contacter</p>

              <strong>Email :  </strong> 
              <p><%= mail_to owner_email(@order), "#{owner_email(@order)}"%></p>
              <strong>Téléphone :  </strong> 
              <p><%= owner_email(@order) %></p>
              <strong>Adresse :  </strong> 
              <p><%= owner_address(@order) %></p>


<% elsif ordertype(@order) == "Demande" and @order.status == "refusé" %>
                  
                  <!-- ////////// statut de commande confirmé
  

                Si j'ai une commande de type location
                  - Je vois le status en confirmé
                  - je vois les infos de contact du owner
                  
                Si j'ai une commande de type Demande
                  - Je vois le status confirmé
                  - Je vois les infos de contact du user
                    -->

                <p>Tu as refusé la demande de <%= customer(@order) %></p>
                




               <% elsif ordertype(@order) == "Location" and @order.status == "refusé" %>
                            
              

              <p>Cette demande a été refusée par <%= owner(@order) %> ; </p>
    




  <% else %>

                <strong>Votre demande est en cours de validation par </strong>  
                <%= owner(@order) %>

  <% end %>




<% end %>








      

