<div class="form-container">
  <p id="notice"><%= notice %></p>

  <p class="devise-title">Voici l'état de vos commandes</p>

  <% @orders.each do |order| %>
      <b>Commande numéro:</b> <%= order.id %> <br>
      <b>Status de votre commande:</b> <%= order.status %> <br>
      <b>Panier:</b> <%= order.cart %> <br>
      <%= link_to 'Voir la demande', edit_order_validation_path(order), :method => :get %>
      <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>