 
  
<% if ordertype(@order) == "Location" and @order.status == "accepté" %>


  <div class="form-container">
  <p class="devise-title">Détail de la demande de location</p>


  <p>Ici vous pouvez examiner votre demande de location et suivre son avancement</p>


  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="form-group">
  <strong>Numéro de la demande:</strong>
  <%= @order.id %>
  </div>

   <div class="form-group">
     <strong>Utilisateur:</strong>
        <% if ordertype(@order) == "Demande"%>
                <%= customer(@order) %>
        <% else %>  
                <%= owner(@order) %>
        <% end %> 
  </div>


<div class="form-group">
     <strong>Date de la demande:</strong>
  <%= @order.created_at %>
  </div>


  <div class="form-group">
     <strong>Nombre de jour de location:</strong>
  <%= @order.nb_day %>
  </div>

  <div class="form-group">
     <strong>Date de début de la location:</strong>
  <%= @order.start_date %>
  </div>

    <div class="form-group">
     <strong>Description du projet:</strong>
  <%= @order.description %>
  </div>

    <div class="form-group">
     <strong>Prix total de la location:</strong>
     <%= number_to_currency(@order.order_price, unit: "€", separator: ",", format: "%n %u") %>
  </div>


<!-- ////////  statut de commande : accepté  

Si j'ai une commande de type location  
- Je vois le status accepté 
- je vois le bouton de paiement de la commande
  - l'utilisateur qui s'affiche est un owner

    => va ajouter un status : confirmé 

Si j'ai une commande de type Demande  
- Je vois le status accepté 
- Je vois un div qui affiche "en attente de confirmation" ou similaire
  - l'utilisateur qui s'affiche est un customer
  -->

  

                            <div class="form-group">
                                      
                                      <strong> Afin d'être mis en relation avec</strong> <%= owner(@order) %> <strong>nous te prions de payer la commande</strong>
                                                                 

                                    </div>


                                  <div class="actions">

                                                                                 
  <%= form_tag charges_path, id: 'chargeForm' do %>
        <% if flash[:error].present? %>
          <div id="error_explanation">
            <p><%= flash[:error] %></p>
          </div>
        <% end %>


 
<script src="https://checkout.stripe.com/checkout.js"></script>
<%= hidden_field_tag 'stripeToken' %>
<%= hidden_field_tag 'order_id', @order.id %>
<%= hidden_field_tag 'amount', @order.order_price * 100 %>
<%= hidden_field_tag 'stripeEmail' %>
<%= hidden_field_tag 'customer_id', current_user.id %>

<button id="btn-buy" type="button" class="btn btn-success">Payer</button>

<script>
      var handler = StripeCheckout.configure({
        key: '<%= Rails.configuration.stripe[:publishable_key] %>',
        image: '/assets/camera.png',
        token: function(token, args) {
          document.getElementById("stripeToken").value = token.id;
  document.getElementById("stripeEmail").value = token.email;
  document.getElementById("chargeForm").submit();
  
        }
      });

      document.getElementById('btn-buy').addEventListener('click', function(e) {
        // Open Checkout with further options
        handler.open({
          name: 'Pixeloo',
          description: 'Payer la location (60.00 EUR)',
          amount: document.getElementById("amount").value,
          order_id: document.getElementById("order_id").value,
          customer_id: document.getElementById("customer_id").value,
                  });
        e.preventDefault();
      });
    </script>

  <% end %>
                                        

                                    </div>
        

                <%= link_to 'Show', @order_validation %> |
  <%= link_to 'Back', order_validations_path %>
</div>


<% else %>
  redirect_to order_validations_path


<% end %>









      

