<main>
    <div class="row">
        <div class="col-lg-6">
        <p class="title">PIXELOO</p>
        <h1 class="brand-description">Plus que de la photo, partage ton expérience</h1>
        <form>
            <input id="aa-search-input" class="main-search-bar" id="item" type="search" placeholder="Que recherches-tu ?">
            <button class="search-bar-submit" type="submit">
                <%= image_tag("search.png")%>
            </button>
        </form>
        </div>
        <div align="center" class="col-lg-6">
        <%= image_tag("main_img.jpg", :alt => "pixeloo" , :class => "img-fluid main-img")%>
        </div>
    </div>
   
</main>

<center>
    <div class="content-1">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="presentation-card-container">
                    <div class="presentation-card-avatar">
                        <%= image_tag("commu.png", :class => "presention-logo")%>
                    </div>
                    <div class="presentation-card-description">Une communauté d'échange basée sur la confiance et le respect entre utilisateur.</div>
                </div> 
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="presentation-card-container">
                    <div class="presentation-card-avatar">
                        <%= image_tag("photo.png", :class => "presention-logo")%>
                    </div>
                    <div class="presentation-card-description">Pour les passionnés de photographie souhaitant se faire un avis et tester un produit avant de l'acheter.</div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="presentation-card-container">
                    <div class="presentation-card-avatar">
                        <%= image_tag("prox.png", :class => "presention-logo")%>
                    </div>
                    <div class="presentation-card-description">Où que tu sois tu trouvera ton bonheur.</div>
                </div>
            </div>
        </div>
    </div>
    
    <p class="index-category-title">Categories</p>

    <div class="content-2">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <a href="/category/show">
                    <div class="category-card-container">
                        <div class="category-card-title">
                            <%= link_to "BOITIERS REFLEX", categories_path %>
                        </div>
                            <%= image_tag("reflex.jpeg", :alt => "pixeloo", :class => "category-img")%>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <a href="/">
                    <div class="category-card-container">
                        <div class="category-card-title">
                            <%= link_to "OBJECTIFS", categories_path %>
                        </div>
                            <%= image_tag("objectif.jpeg", :alt => "pixeloo", :class => "category-img")%>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <a href="/">
                    <div class="category-card-container">
                        <div class="category-card-title">
                            <%= link_to "ÉCLAIRAGE", categories_path %>
                        </div>
                            <%= image_tag("eclairage.jpeg", :alt => "pixeloo", :class => "category-img")%>    
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


<!-- Include AlgoliaSearch JS Client and autocomplete.js library -->
<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
<!-- Initialize autocomplete menu -->
<script>
var client = algoliasearch('489HLI3B0A', 'afb715b7a8626e4dcbc991783fa9acd9');
var index = client.initIndex('Item');
autocomplete('#aa-search-input',
{ hint: false }, {
    source: autocomplete.sources.hits(index, {hitsPerPage: 5}),
    displayKey: 'title',
    templates: {
        suggestion: function(suggestion) {
          return '<span>' +
            suggestion._highlightResult.title.value + '</span>'
        }
    }
});
</script>
