<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




<p> A partir de quand souhaitez vous louer les produits ? </p>

<p> ********* </p>


<p> Décrivez votre projet </p>

<p> ********* </p>




<div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>


<div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control" %>
  </div>


<p> Récapitulatif de votre commande : </p>

<p> ********* </p>

<br><br>




  <div class="actions">
    <%= form.submit "Valider", class: "btn btn-success" %>
  </div>



<% end %>