<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




<p class="item-new-image-label">À partir de quand souhaitez vous louer les produits ?</p>
<p> ********* </p>

<br><br>


<p class="item-new-image-label">Décrivez votre projet</p>
  <div class="field">
      <div class="form-group">
          <%= form.text_area :description, :placeholder => "Description", :class => "form-control" %>
      </div>
  </div>


<div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
</div>


<div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, class: "form-control" %>
</div>

<div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control" %>
</div>

<br><br>

<p class="item-new-image-label">Récapitulatif de votre commande :</p>

<p>*********</p>


<p>
  <strong>ID du Owner:</strong>
  <%= @cartowner_id %>
</p>

<p>
  <strong>ID du Customer:</strong>
  <%= @order.user_id %>
</p>


<br><br>

  <div class="actions">
    <%= form.submit "Valider", class: "btn btn-success" %>
  </div>

<% end %>