<div class="item-show-container">
    <p class="panier-title">Mon panier</p>
    <center>
        <div class="row">
        <% @cart.line_items.each do |element| %>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="card-panier-container">
                    <div class="card-panier-item-title">
                        <%= element.item.title %>
                    </div>
                    <div class="card-panier-item-img">
                            <%= image_tag("item_img.jpg", :alt => "item" , :class => "img-fluid")%>
                    </div>
                    <div class="card-panier-item-price">
                        <%= number_to_currency(element.total, unit: "€ / jour", separator: ",", format: "%n %u") %>
                    </div>
                        <%= button_to "Commander", new_order_path, method: :get, class: "card-panier-btn" %>
                </div>
            </div>
        <% end %>
        </div>

        <p class="panier-total">
          Total : <%= number_to_currency(@cart.total, unit: "€ / jour", separator: ",", format: "%n %u") %>
        </p>

        <%= button_to "Vider le panier", @cart, method: :delete, data: {
            confirm: "Êtes-vous sûr ?" }, class: "delete-btn" %>
      </center>
</div>
