<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <div class="form-group">
          <%= form.text_field :title, :placeholder => "Titre", :class => "form-control" %>
      </div>
  </div>

  <div class="field">
      <div class="form-group">

          <p>Catégorie</p>
          <%= select_tag 'category', options_for_select(['Reflex', 'Objectifs', 'Eclairage']), class: "form-control", id: "exampleFormControlSelect1" %>


      </div>
  </div>

  <div class="field">
      <div class="form-group">
          <%= form.text_area :description, :placeholder => "Description", :class => "form-control" %>
      </div>
  </div>

  <div class="field">
      <div class="form-group">
          <%= form.text_field :price, :placeholder => "Prix", :class => "form-control" %>
      </div>
  </div>

  <div class="field">
      <div class="form-group">
          <%= form.text_field :address, :placeholder => "Addresse où est située le matériel", :class => "form-control" %>
      </div>
  </div>


  <br>

  <div class="field">
      <%= form.label :Ajouter_une_image, :class => "item-new-image-label" %><br>
      <%= form.file_field :item_image %>
  </div>

  <br>


  <center>
      <%= form.submit 'Ajouter', :class => "item-new-btn" %>
  </center>

<% end %>
