<div class="item-show-container-1">
    <div class="row">
        <div class="col-lg-6">
            <p class="item-show-title"><%= @item.title %></p>
            <p class="item-show-price"><%= @item.price %> € / jour</p>
            <p class="item-show-description"><%= @item.description %></p>
             <% if @item.city.present? %>
                           <p><%= @item.city %></p> 
                        <% end %>  
            <br><br>
            <%= button_to "Ajouter au panier", line_items_path(item_id: @item), class: "item-show-panier-btn" %>
            <br>
        </div>
        <div align="center" class="col-lg-6">
         
        <% if @item.item_image.attached? %>
            <%= image_tag(@item.item_image, :class => "img-fluid item-show-img" ) %> 
        <% else  %> 
            <%= image_tag("item_img.jpg", :alt => "item" , :class => "img-fluid item-show-img")%>
        <% end %>
        
        </div>
    </div>
</div>

<br><br>

<div class="item-show-container-2">
    <p class="item-show-title-2">Infos loueur</p>
    <div class="row">
        <div class="col-lg-4">
            <div class="owner-card-container">
                <%= image_tag user_avatar(@owner, 300), class: "img-fluid owner-card-img" %>
                <p class="owner-card-name"><%=@owner.first_name%></p>
            </div>
        </div>
        <div class="col-lg-8">
            <p>Bonjour je m'appelle <%=@owner.first_name%>,<br><br>
            <%=@owner.description%> Je mets en location mon <%= @item.title %> qui est un super appareil. A bientôt !</p>
        </div>
    </div>
</div>
