<p class="category-title">ECLAIRAGE</p>
<hr>
    <%= link_to "Nikon", catalogues_path(:search => 'Nikon', :location => @location), class: "brand-btn" %>
    <%= link_to "Leica", catalogues_path(:search => 'Leica', :location => @location), class: "brand-btn" %>
    <%= link_to "Canon", catalogues_path(:search => 'Canon', :location => @location), class: "brand-btn" %>
    <%= link_to "Panasonic", catalogues_path(:search => 'Panasonic', :location => @location), class: "brand-btn" %>
<hr>

<center>
    <div class="category-item">
        <div class="row">
            <% @items.each do |item| %> 
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="item-card-container">
                         <% if item.city.present? %>
                           <p><%= item.city %></p> 
                        <% end %>
                        

                        <% if item.item_image.attached? %>
                                <%= link_to image_tag(item.item_image, width: "50", :alt => "pixeloo" , :class => "img-fluid item-img"),item %>
                        <% end %>
                        <div class="item-title"><%= link_to item.title,item %>
                        </div>
                        <div class="item-price"><%= number_to_currency item.price, unit: '€ / jour', separator: ',', format: '%n %u' %>         
                        </div>
                        <% if user_signed_in? %>
                                  <center><%= button_to "Ajouter au panier" ,line_items_path(item_id: item), class: "panier-btn" %></center>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</center>
