<p class="category-title">BOÎTIER REFLEX</p>
<hr>
    <a href="#" class="brand-btn">Nikon</a>
    <a href="#" class="brand-btn">Leica</a>
    <a href="#" class="brand-btn">Canon</a>
    <a href="#" class="brand-btn">Panasonic</a>
<hr>
<div class="category-item">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="item-card-container">
                <a href="../items/show">
                    <%= image_tag("item_img.jpg", :alt => "pixeloo" , :class => "img-fluid item-img")%>
                </a>    
                <div class="item-title">Nikon 500D</div>
                <div class="item-price">250 € / jour</div><br>
                <a href="#" class="panier-btn">Ajouter au panier</a>
            </div> 
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="item-card-container">
                <a href="../items/show">
                    <%= image_tag("item_img.jpg", :alt => "pixeloo" , :class => "img-fluid item-img")%>
                </a>
                <div class="item-title">Leica 500D</div>
                <div class="item-price">280 € / jour</div><br>
                <a href="#" class="panier-btn">Ajouter au panier</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="item-card-container">
                <a href="../items/show">
                    <%= image_tag("item_img.jpg", :alt => "pixeloo" , :class => "img-fluid item-img")%>   
                </a>
                <div class="item-title">Canon 500D</div>
                <div class="item-price">190 € / jour</div><br>
                <a href="#" class="panier-btn">Ajouter au panier</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="item-card-container">
                <a href="../items/show">
                    <%= image_tag("item_img.jpg", :alt => "pixeloo" , :class => "img-fluid item-img")%>   
                </a>
                <div class="item-title">Nikon 500D</div>
                <div class="item-price">250 € / jour</div><br>
                <a href="#" class="panier-btn">Ajouter au panier</a>
            </div> 
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="item-card-container">
                <a href="../items/show">
                    <%= image_tag("item_img.jpg", :alt => "pixeloo" , :class => "img-fluid item-img")%>   
                </a>
                <div class="item-title">Leica 500D</div>
                <div class="item-price">280 € / jour</div><br>
                <a href="#" class="panier-btn">Ajouter au panier</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="item-card-container">
                <a href="../items/show">
                    <%= image_tag("item_img.jpg", :alt => "pixeloo" , :class => "img-fluid item-img")%>   
                </a>
                <div class="item-title">Canon 500D</div>
                <div class="item-price">190 € / jour</div><br>
                <a href="#" class="panier-btn">Ajouter au panier</a>
            </div>
        </div>
    </div>
</div>
